# Object files
*.o
*.obj
obj/
obj/*

# Executables
crypto
run_tests
*.exe
*.out
*.a
*.so

# Test images 
tests/img/
tests/results_img/
tests/results_sound/
tests/sound/
*.jpg
*.jpeg
*.png
*.bmp
*.gif

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Compiled files
*.gch
*.d

# Makefile backup
*~
*.bak

# Logs
*.log


# useless for now 
*.pcapng